---
services:
  - docker

before_script:
  - docker-compose build

script:
  - docker-compose run test
  - docker-compose run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: ./build/docker
  on:
    branch: master
