.question {
  .questionContent {
    padding: 10px;
  }

  .editbox {
    padding: 10px;
  }

  .single {
    .singleInput {
      padding: 5px 0;
    }
  }

  .multi {
  }

  .other {
  }
}

.questionType {
  display: flex;
  align-items: center;
  padding: 10px;
}
